# Author : Mohammed Saqlain Attar

In [1]:
import pandas as pd

## 1.Load the data from “college.csv” that has attributes collected about private and public colleges for a particular year. We will try to predict the private/public status of the college from other attributes.

In [2]:
df = pd.read_csv(r'C:\Users\saqla\Desktop\Python Certification for Data Science\Case Studies\Module 9\Datasets\College.csv')
df

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

## 2.Use LabelEncoder to encode the target variable in to numerical form and split the data such that 20% of the data is set aside fortesting.

### LabelEncoder in sklearn is similar to map or pd.Categorical in Pandas

In [3]:
from sklearn.preprocessing import LabelEncoder

L_E = LabelEncoder()
df['Private'] = L_E.fit_transform(df['Private'])

In [4]:
df

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,1,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,1,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,1,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,0,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,1,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,1,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,1,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,1,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [5]:
X = df.loc[:,'Apps':]
y = df['Private']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=1)

## 3.Fit a linear svm from scikit learn and observe the accuracy.[Hint:Use Linear SVC]

In [6]:
from sklearn import svm
from sklearn import metrics

In [7]:
model = svm.LinearSVC()

model.fit(x_train,y_train)

y_pred = model.predict(x_test)

print('Accuracy Score:',metrics.accuracy_score(y_test,y_pred))

Accuracy Score: 0.8012820512820513

D:\Anaconda\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

## 4.Preprocess the data using StandardScalar and fit the same model again and observe the change in accuracy.[Hint: Refer to scikitlearn’s preprocessing methods]

In [8]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_scaled = sc.fit_transform(X)

In [9]:
X_scaled_df = pd.DataFrame(X_scaled,columns=X.columns)
X_scaled_df

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,-0.346882,-0.321205,-0.063509,-0.258583,-0.191827,-0.168116,-0.209207,-0.746356,-0.964905,-0.602312,1.270045,-0.163028,-0.115729,1.013776,-0.867574,-0.501910,-0.318252
1,-0.210884,-0.038703,-0.288584,-0.655656,-1.353911,-0.209788,0.244307,0.457496,1.909208,1.215880,0.235515,-2.675646,-3.378176,-0.477704,-0.544572,0.166110,-0.551262
2,-0.406866,-0.376318,-0.478121,-0.315307,-0.292878,-0.549565,-0.497090,0.201305,-0.554317,-0.905344,-0.259582,-1.204845,-0.931341,-0.300749,0.585935,-0.177290,-0.667767
3,-0.668261,-0.681682,-0.692427,1.840231,1.677612,-0.658079,-0.520752,0.626633,0.996791,-0.602312,-0.688173,1.185206,1.175657,-1.615274,1.151188,1.792851,-0.376504
4,-0.726176,-0.764555,-0.780735,-0.655656,-0.596031,-0.711924,0.009005,-0.716508,-0.216723,1.518912,0.235515,0.204672,-0.523535,-0.553542,-1.675079,0.241803,-2.939613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,-0.208040,-0.205673,-0.255200,-1.336352,-1.505488,-0.126030,0.771435,-0.906289,-0.417455,-0.299280,-0.207855,-0.775861,-1.339146,1.746877,-0.706073,-0.994781,-1.483301
773,-0.269575,-0.087284,-0.091509,-0.201858,-0.444454,-0.175543,0.165435,0.268462,0.549707,0.306784,-0.133960,0.020822,-0.319632,-0.199632,0.666685,-0.090290,1.021555
774,-0.233895,-0.042377,-0.091509,0.365389,0.262901,-0.187095,-0.453053,-0.880670,-0.143730,0.409815,-0.827095,-0.346878,-0.319632,0.078441,-0.221570,-0.256241,-0.959029
775,1.991711,0.177256,0.578333,3.825595,2.182866,0.312977,-0.507606,2.337894,1.963953,0.488603,1.144424,1.430339,1.107689,-2.095582,2.120194,5.887971,1.953595
776,-0.003268,-0.066872,-0.095816,0.025041,0.363952,-0.146867,0.572283,-1.355744,-0.727676,-0.299280,-0.133960,0.143389,-0.319632,1.013776,0.424434,-0.987116,1.953595

In [10]:
x_train_sc, x_test_sc, y_train, y_test = train_test_split(X_scaled_df,y, test_size = 0.2, random_state=1)

In [11]:
model_scaled = svm.LinearSVC()

model_scaled.fit(x_train_sc,y_train)

y_pred_scaled = model.predict(x_test_sc)

print('Accuracy Score:',metrics.accuracy_score(y_test,y_pred_scaled))

Accuracy Score: 0.5641025641025641

### After scaling the data, the model is giving worse results because the data is not normally distributed. StandardScaler assumes that the data is normally distributed with each feature.

## 5.Use scikit learn’s gridsearch to select the best hyperparameter for a non-linear SVM,identify the model with best score and its parameters.[Hint: Refer to model_selection module of Scikit learn]

In [12]:
from sklearn.model_selection import GridSearchCV

In [13]:
parameters = {'C':[0.1,1,10,100,1000],'kernel':('linear', 'poly', 'rbf', 'sigmoid'), 'gamma':['scale','auto']}
# 'gamma':[1,0.1,0.001,0.0001,0.00001,0.000001] or 'gamma':['scale','auto']

svm = svm.SVC(max_iter=10000)

clf = GridSearchCV(estimator=svm,param_grid=parameters,cv=5,n_jobs=-1,return_train_score=False)
clf.fit(x_train,y_train)
print(clf)

print('Best Score:',clf.best_score_)

print('Best Estimator:',clf.best_estimator_)

GridSearchCV(cv=5, estimator=SVC(max_iter=10000), n_jobs=-1,
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': ['scale', 'auto'],
                         'kernel': ('linear', 'poly', 'rbf', 'sigmoid')})
Best Score: 0.9307354838709678
Best Estimator: SVC(C=10, max_iter=10000)

In [14]:
clf.score(x_test,y_test)

0.9358974358974359

In [15]:
clf.best_estimator_.gamma

'scale'

In [16]:
clf.best_estimator_.kernel

'rbf'