## Domain –Chemical Industry
## focus –Classify chemical
### Business challenge/requirement
## FuPont is a leading chemical company across the globe.  The Company is on a CSR (Corporate Social Responsibility) mission. It wants to identify biodegradable products based on a study of the relationships between chemical structure and biodegradation of molecules. You as ML expert have to create a ML model to classify the chemical structure as  'Ready BioDegradable' –RB vs 'Not Ready Biodegradable' –NRB
    Key issues - Data has lots of attributes and classification could be tricky
    Considerations-NONE
    Data volume-Approx 1055   records –file bio-degradabale-data.csv Fields in Data
    •Details in .ipynb notebook
    Additional information-NA
    Business benefitsResearch can lead FuPont to create truly unique Biodegradable packaging material. This could lead to massive profits in future

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\saqla\Desktop\Python Certification for Data Science\Case Studies\Module 14\Datasets\bio-degradabale-data.csv',sep=';')
df

,3.919,2.6909,0,0.1,0.2,0.3,0.4,31.4,2,0.5,...,0.19,0.20,0.21,2.949,1.591,0.22,7.253,0.23,0.24,RB
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,5.431,2.8955,0,0,0,2,0,32.1,4,1,...,0,6,1,3.573,2.242,1,8.088,0,0,NRB
1050,5.287,3.3732,0,0,9,0,0,35.3,0,9,...,0,3,0,3.787,3.083,3,9.278,0,0,NRB
1051,4.869,1.7670,0,1,9,0,5,44.4,0,4,...,4,13,0,3.848,2.576,5,9.537,1,0,NRB
1052,5.158,1.6914,2,0,36,0,9,56.1,0,0,...,1,16,0,5.808,2.055,8,11.055,0,1,NRB
1053,5.076,2.6588,2,0,0,0,4,54.5,0,0,...,2,0,0,4.009,2.206,0,9.130,0,2,NRB

In [3]:
df.columns = list(range(42))

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,5.431,2.8955,0,0,0,2,0,32.1,4,1,...,0,6,1,3.573,2.242,1,8.088,0,0,NRB
1050,5.287,3.3732,0,0,9,0,0,35.3,0,9,...,0,3,0,3.787,3.083,3,9.278,0,0,NRB
1051,4.869,1.7670,0,1,9,0,5,44.4,0,4,...,4,13,0,3.848,2.576,5,9.537,1,0,NRB
1052,5.158,1.6914,2,0,36,0,9,56.1,0,0,...,1,16,0,5.808,2.055,8,11.055,0,1,NRB
1053,5.076,2.6588,2,0,0,0,4,54.5,0,0,...,2,0,0,4.009,2.206,0,9.130,0,2,NRB

In [5]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

df[41] = labelencoder.fit_transform(df[41])

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,1
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,1
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,1
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,1
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,5.431,2.8955,0,0,0,2,0,32.1,4,1,...,0,6,1,3.573,2.242,1,8.088,0,0,0
1050,5.287,3.3732,0,0,9,0,0,35.3,0,9,...,0,3,0,3.787,3.083,3,9.278,0,0,0
1051,4.869,1.7670,0,1,9,0,5,44.4,0,4,...,4,13,0,3.848,2.576,5,9.537,1,0,0
1052,5.158,1.6914,2,0,36,0,9,56.1,0,0,...,1,16,0,5.808,2.055,8,11.055,0,1,0
1053,5.076,2.6588,2,0,0,0,4,54.5,0,0,...,2,0,0,4.009,2.206,0,9.130,0,2,0

### Input and Output Variables

In [7]:
X = df.loc[:,0:40]

In [8]:
y = df[41]

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_scaled = sc.fit_transform(X)

In [10]:
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,-1.123007,-1.149467,-0.490511,-0.166771,-0.420543,-0.270386,-0.740930,-0.684801,-0.191355,-0.453916,...,-0.201820,-0.581658,-0.561251,-0.765558,-0.604670,-0.922535,-0.630084,-1.106775,-0.160623,-0.323293
1,-1.558691,0.218151,-0.490511,-0.166771,-0.420543,-0.270386,-0.740930,-1.133241,0.317959,1.236640,...,-0.201820,-0.581658,-0.561251,0.030200,-0.843872,-0.221680,-0.630084,-0.829638,-0.160623,-0.323293
2,-3.264813,-0.433176,-0.490511,-0.166771,-0.420543,-0.270386,-0.740930,-1.866058,-0.700669,0.109603,...,-0.201820,-0.581658,-0.561251,0.030200,-0.873897,3.801226,-0.630084,-1.563569,-0.160623,-0.323293
3,-1.002188,0.390427,-0.490511,-0.166771,-0.420543,-0.270386,-0.740930,-0.837927,0.317959,1.236640,...,-0.201820,-0.581658,-0.561251,-0.765558,-0.568639,-0.240370,-0.630084,-0.505774,-0.160623,-0.323293
4,-1.002188,0.431571,-0.490511,-0.166771,-0.420543,-0.270386,-0.740930,-0.925428,0.317959,1.236640,...,-0.201820,-0.581658,-0.561251,-0.765558,-0.568639,-0.005194,-0.630084,-0.585532,-0.160623,-0.323293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1.185383,-0.209771,-0.490511,-0.166771,-0.420543,1.592273,-0.740930,-0.542613,1.336586,-0.453916,...,2.903554,-0.581658,2.077672,0.030200,-0.346452,-0.494235,0.287193,-0.437295,-0.160623,-0.323293
1050,0.921777,0.364922,-0.490511,-0.166771,3.437550,-0.270386,-0.740930,-0.192611,-0.700669,4.054233,...,-0.201820,-0.581658,0.758211,-0.765558,-0.132271,0.815585,2.121746,0.521407,-0.160623,-0.323293
1051,0.156584,-1.567403,-0.490511,3.739372,3.437550,-0.270386,1.507026,0.802707,-0.700669,1.236640,...,-0.201820,2.049534,5.156416,-0.765558,-0.071220,0.025955,3.956300,0.730065,2.974505,-0.323293
1052,0.685629,-1.658353,0.877211,-0.166771,15.011826,-0.270386,3.305390,2.082402,-0.700669,-1.017435,...,-0.201820,0.076140,6.475878,-0.765558,1.890436,-0.785479,6.708130,1.953014,-0.160623,0.123300
1053,0.535519,-0.494531,0.877211,-0.166771,-0.420543,-0.270386,1.057435,1.907401,-0.700669,-1.017435,...,-0.201820,0.733938,-0.561251,-0.765558,0.089917,-0.550303,-0.630084,0.402173,-0.160623,0.569893

### Model

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [12]:
x_train, x_test, y_train, y_test = train_test_split(X_scaled,y, test_size=0.3, random_state=10)

In [13]:
model = LogisticRegression()

In [14]:
model.fit(x_train, y_train)

LogisticRegression()

In [15]:
y_pred = model.predict(x_test)

In [16]:
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [17]:
metrics.accuracy_score(y_test,y_pred)

0.8801261829652997

### Cross Validation

In [18]:
cross_val_score(model,X_scaled,y,cv=10,scoring='accuracy').mean()

0.8594788858939802

In [19]:
metrics.confusion_matrix(y_test,y_pred)

array([[194,  20],
       [ 18,  85]], dtype=int64)

In [20]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.91      0.91       214
           1       0.81      0.83      0.82       103

    accuracy                           0.88       317
   macro avg       0.86      0.87      0.86       317
weighted avg       0.88      0.88      0.88       317